@import url('https://fonts.googleapis.com/css2?family=Anta&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

header {
    background-color: rgb(193, 86, 185);
}

h1 {
    text-align: center;
    padding: 2rem;
    font-size: 7rem;
    color: rgb(205, 187, 204);
    text-shadow: #000 0rem 0rem 2rem;
}

header p {
    text-align: center;
    padding-bottom: 2rem;
    color: rgb(35, 31, 34);
    text-shadow: #c4bbbb 0rem 0rem 1.5rem;

    
}



